# Ignore relax_MEAM folders
save/

# Ignore results folder inside ml4cascades/lammps
ml4cascades/lammps/results/

# Ignore results folder inside ml4cascades/turbogap
ml4cascades/turbogap/results/


# Ignore betafile
ml4cascades/lammps/templates/cascade/betafile
ml4cascades/turbogap/templates/cascade/betafile

